/* Đặt các kiểu cơ bản cho trang web */
body {
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#fff;
}
.logo img{
    color: rgb(251, 249, 249);
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 50px;
}
.links {
    background-color: #448cd8;
    padding: 7px 0;
    text-align: center;
}
.links a{
    color: #fff;
    margin-right: 23px;
}
.header h1{
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0;
    text-align: center;
}