/* Đặt các kiểu cơ bản cho trang web */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#fff;
}

.links {
    background-color: #448cd8;
    padding: 7px 0;
    text-align: center;
}
.links a{
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: #333;
    color: #fff;
    margin-right: 23px;
}
.links a::before{
    content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}
.links a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
.logo img{
    display: flex;
    color: rgb(251, 249, 249);
    width: 5%;
    border-radius: 50%;
    position: absolute;
    margin-top: -1%;
    margin-left: 25%; 
}
.header h1{
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0;
    text-align: center;
}
.header .view{
    font-size: 4px;
    font-family: Arial,sans-serif;
    position: absolute;
    margin-top: 10px;
    margin-left: 425px;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    overflow-anchor: none;
    list-style: none;
    width: 100%;
    margin-left: 30%;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}

a #home,a #hoatdong,a #noidung,a #thuvien,a #lienhe{
    transition: .3s ease-in-out;
}
.home{
    text-align: center;
    background: #c5a1a1;
    overflow: auto;
}
.home .admin img{
    color: rgb(251, 249, 249);
    width: 5%;
    border-radius: 50%;
    position: absolute;
    margin-top: 1%;
    margin-left: -25%;
}
.home .admin h3{
    color: rgb(0, 0, 0);
    width: 60%;
    text-align: justify;
    border-radius: 50%;
    display: flex;
    position: absolute;
    margin-top: 2%;
    margin-left: 30%;
}
.home .content-content{
    width: 50%;
    height: 100%;
    font-size: 20px;
    text-align: justify;
    position: absolute;
    margin-top: 6%;
    margin-left: 25%;
}
.content-content img{
    max-width: 100%;
    height: auto;
}
.contents p{
    display: flex;
    font-size: 1.3em;
    color: #000000;
    position: absolute;
    margin-top: 4%;
    margin-left: 30%;
}
.contents .admin1 img{
    color: rgb(251, 249, 249);
    width: 4%;
    border-radius: 50%;
    position: absolute;
    margin-top: 8%;
    margin-left: 30%;
}
.contents .admin1 h4{
    display: flex;
    position: absolute;
    margin-top: 8%;
    margin-left: 35%;
}
.contentt p{

    font-size: 1.3em;
    color: #000000;
    position: absolute;
    margin-top: 5%;
    margin-left: 30%;
}
.contentt img{
    display: flex;
    color: rgb(251, 249, 249);
    width: 350px;
    max-width: 50%;
    height: auto;
    position: absolute;
    margin-top: 10%;
    margin-left: 30%;
}
.content2{
    font-size: 1em;
    position: absolute;
    left: 35%;
}
.content2 h5{
    font-size: 1.2em;
    height: 10px;
}
.content2 p1{
    font-size: 1.1em;
}
.home .ghim img{
    color: rgb(251, 249, 249);
    width: 30px;
    border-radius: 50%;
    position: absolute;
    margin-top: 30px;
    left: 620px;
}
#bttop{
    border:1px solid #4adcff;
    background:#24bde2;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:35px;
    right:10px;
    cursor:pointer;
    display:none;
    color:#fff;
    font-size:11px;
    font-weight:900
}
#bttop:hover{
    border:1px solid #ffa789;
    background:#ff6734
}
@media only screen and (max-width: 46.1875em){
    .header h1{
        font-size: 12px;
    }
    .header .links {
        font-size: 10px;
    }
    .logo img{
        width: 8%;
        margin-top: -1%;
        margin-left: 7%;
    }
    .home .admin h3{
        font-size: 10px;
    }
    .home .content-content{
        font-size: 10px;
    }
    .home .content .img1 img{
        width: 50%;
    }
    .contents p{
        font-size: 20px;
        margin-left: 10%;
    }
    .contents .admin1 img{
        width: 8%;
        margin-left: 10%;
    }
    .contents .admin1 h4{
        font-size: 10px;
        margin-left: 20%;
        margin-top: 9%;
    }
    .contentt p{
        margin-left: 25%;
    }
    .contentt img{
        margin-left: 25%;
    }
    .content2 {
        font-size: 15px;
        margin-left: -7%;
    }
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){

    
}